<div class="container my-4">
  <div class="input-group mb-3">
    <input 
      type="text" 
      class="form-control" 
      placeholder="Search..." 
      #filter
      (input)="liveSearch ? filterResults(filter.value) : null"
    >
    <button 
      type="button" 
      class="btn btn-primary" 
      (click)="filterResults(filter.value)">
      Search
    </button>
  </div>

  <div class="form-check form-switch mb-3">
    <input 
      class="form-check-input" 
      type="checkbox" 
      id="liveSearchToggle" 
      [(ngModel)]="liveSearch">
    <label class="form-check-label" for="liveSearchToggle">
      This disables the Search button and enables live-search
    </label>
  </div>

<div *ngIf="filteredList.length > 0; else noResults">
  <p class="fw-bold">Total results: {{ filteredList.length }}</p>
  <div class="list-group">
    <a 
      *ngFor="let item of filteredList"
      [href]="item.url" 
      target="_blank"
      class="list-group-item list-group-item-action"
    >
      <h5 class="mb-1">{{ item.title }}</h5>
      <p class="mb-1">{{ item.description }}</p>
      <small class="text-muted">{{ item.url }}</small>
    </a>
  </div>
</div>

  <ng-template #noResults>
    <div class="alert alert-warning mt-3">
      No results found.
    </div>
  </ng-template>
</div>
